/*Global*/
body{
    font-size: 16px;
    color: #ebebeb;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    overflow:hidden;
}

/*Input Bar*/
.info-input-container{
    width: 100%;
    position: absolute;
    background-image: url('/assets/clear_70.png');
    z-index: 1;
}

.info-input-container input[type=text]{
    background: none;
    padding: 0.3rem;
    border: none;
    color: inherit;
    width: 100%;
    font-size: 1rem;
}

.info-input-container input[type=text]:focus{
    outline: none;
}

/*Settings*/
.settings-container{
    position: absolute;
    margin: 2rem 1rem;
}
.settings-btn{
    margin: 0.3rem;
    padding: 0.5rem;
    cursor: pointer;
    background-image: url("/assets/clear_70.png");
    font-size: 0.8rem;
}
.settings-btn:hover{
    background-image: url("/assets/clear_50.png");
}
.settings-btn:active{
    background-image: url("/assets/clear_30.png");
}



/*Loading Spinner*/
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.loading-screen{
    display: none;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/assets/clear_70.png');
}

.loading-container{
    text-align: center;
    margin: 15% auto;
}

.spinner {
    min-width: 30px;
    min-height: 30px;
}

.spinner:before {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: -13px;
    margin-left: -13px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: #03ade0;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}